.App {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 46px;
  position: relative;

  @media screen and (max-width: 1050px) {
    padding: 0;
    overflow-x: hidden;
  }

  .puple-ball {
    position: absolute;
    width: 60px;
    height: 60px;
    //left: 728px;
    left: 64%;
    top: -2px;
    border-radius: 50%;
    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(236, 208, 255, 0.64) 0%,
        rgba(161, 93, 207, 0.24) 59.67%,
        rgba(118, 49, 164, 0.208) 78.59%,
        rgba(86, 24, 128, 0.232) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
    @media screen and (max-width: 425px) {
      width: 40px;
      height: 40px;
      left: 296px;
      top: 290px;
    }
  }

  .red-ball {
    position: absolute;
    width: 83px;
    height: 83px;
    //left: 368px;
    left: 32%;
    top: 70px;
    border-radius: 50%;
    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.536) 0%,
        rgba(212, 93, 93, 0.264) 59.67%,
        rgba(167, 49, 49, 0.248) 78.59%,
        rgba(130, 25, 25, 0.248) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);

    @media screen and (max-width: 425px) {
      display: none;
      visibility: hidden;
    }
  }

  .red-ball_small {
    position: absolute;
    width: 28px;
    height: 28px;
    // left: 701px;
    left: 61.5%;
    top: 547px;
    border-radius: 50%;
    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.48) 0%,
        rgba(212, 93, 93, 0.248) 59.67%,
        rgba(167, 49, 49, 0.264) 78.59%,
        rgba(130, 25, 25, 0.232) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);

    @media screen and (max-width: 320px) {
      width: 43px;
      height: 43px;
      left: 29px;
      top: 462px;
    }
  }

  .puple-light {
    position: absolute;
    width: 259px;
    height: 259px;
    left: 41.8%;
    top: -154px;
    border-radius: 50%;
    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);

    @media screen and (max-width: 320px) {
      left: 258px;
      top: 107px;
    }
  }

  .red-light {
    position: absolute;
    width: 311px;
    height: 311px;
    // left: -102px;
    left: -9%;
    top: 251px;
    border-radius: 50%;
    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);

    @media screen and (max-width: 320px) {
      left: -55px;
      top: 241px;
    }
  }
}
