.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;

  @media screen and (max-width: 1050px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 41px 16px 60px;
    background-color: #0e1014;
    position: sticky;
    z-index: 3;
  }

  &__nav:last-of-type {
    .footer__list {
      display: grid;
      grid-template-columns: repeat(2, minmax(212px, auto));

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(123px, auto));
      }

      @media screen and (max-width: 425px) {
        grid-template-columns: 100px 123px;
        grid-column-gap: 48px;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 20px 0 30px;
    }
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #e4e5ea;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__title {
    font-family: $inter;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__contacts {
    .footer__title {
      text-align: right;

      @media screen and (max-width: 768px) {
        text-align: left;
      }
    }
  }

  &__copyright {
    margin: 70px 0 5px;
    font-family: $montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #e4e5ea;

    @media screen and (max-width: 768px) {
      text-align: left;
      margin: 50px 0 5px;
    }
  }

  &__copyright-link {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    text-align: right;
    color: #e4e5ea;

    @media screen and (max-width: 768px) {
      text-align: left;
    }
  }
}
