.logo__description {
  margin-top: 10px;
  max-width: 140px;
  height: 24px;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #e4e5ea;
}
