.content {
  padding-top: 90px;
  padding-bottom: 69px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1050px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 0px;
  }

  @media screen and (max-width: 425px) {
    padding-left: 14px;
    align-items: flex-start;
    background-image: url(../../assets/img/noise.png);
  }

  &__item {
    max-width: 362px;
    z-index: 2;

    @media screen and (max-width: 425px) {
      max-width: 272px;
    }
  }

  &__item:last-of-type {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 425px) {
      padding-top: 45px;
      align-items: flex-start;
    }
  }

  &__title-main {
    font-family: $inter;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #e4e5ea;
    margin-bottom: 30px;

    @media screen and (max-width: 425px) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 15px;
    }

    span {
      font-family: $inter;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 58px;
      background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%),
        #e4e5ea;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @media screen and (max-width: 425px) {
        font-size: 36px;
        line-height: 44px;
      }
    }
  }

  &__discription {
    max-width: 275px;
    font-family: $montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #e4e5ea;
  }

  &__title {
    font-family: $inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #e4e5ea;

    @media screen and (max-width: 425px) {
      text-align: left;
    }
    span {
      font-family: $inter;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background: linear-gradient(92deg, #fcb045 36.99%, #fd1d1d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @media screen and (max-width: 425px) {
        text-transform: lowercase;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 164px);
    grid-row-gap: 30px;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 61px;

    @media screen and (max-width: 425px) {
      grid-template-columns: 119px auto;
      grid-row-gap: 14px;
      grid-column-gap: 5px;
      margin-top: 20px;
      margin-bottom: 59px;
    }
  }

  &__list-title {
    font-family: $inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e4e5ea;
    margin-bottom: 6px;

    span {
      @media screen and (max-width: 425px) {
        background: linear-gradient(92deg, #fcb045 36.99%, #fd1d1d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-right: 5px;
      }
    }

    @media screen and (max-width: 425px) {
      font-family: $montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 0;
      text-align: left;
    }
  }

  &__list-discription {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #e4e5ea;
  }

  &__button {
    width: 262px;
    height: 61px;
    background: #4077f3;
    border: none;
    font-family: $inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #e4e5ea;

    @media screen and (max-width: 425px) {
      display: none;
      visibility: hidden;
    }
  }

  &__button:hover {
    cursor: pointer;
  }
}
